logicaemc\#/logicaemcsharp/.vs/logicaemcsharp.slnx/FileContentIndex/6240a7f5-5ae3-433b-a0ce-8edae89ed4e3.vsidx
logicaemc\#/logicaemcsharp/.vs/logicaemcsharp.slnx/FileContentIndex/192a7273-240b-4149-9692-d9f5abdd31c7.vsidx
