logicaemc\#/logicaemcsharp/.vs/logicaemcsharp.slnx/FileContentIndex/6240a7f5-5ae3-433b-a0ce-8edae89ed4e3.vsidx
logicaemc\#/logicaemcsharp/.vs/logicaemcsharp.slnx/FileContentIndex/192a7273-240b-4149-9692-d9f5abdd31c7.vsidx
logicaemc#/logicaemcsharp/.vs/logicaemcsharp.slnx/v18/.suo
logicaemc\#/ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/f73a6e1b-18f9-4384-91f4-fb6d1c65c27f.vsidx
sintaxec\#/ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/6fb8471d-c70c-4588-847d-0f1309694a84.vsidx
sintaxec\#/ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/71b2e848-08ed-4295-9bae-08383a0d7aba.vsidx
sintaxec\#/ConsoleApp1/.vs/ConsoleApp1.slnx/v18/.suo
*.vsidx
*.vsidx
*.vsidx
